* {
  margin: 0px;
  padding: 0px;
}
.home-main {
  min-height: 100vh;
  background-color: black;
  overflow: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-movie {
  min-height: 200px;
  width: 300px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  text-align: center;
  img {
    margin: 15px 0px 0px 0px;
    height: 150px;
    width: 250px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
    &:hover {
      color: yellow;
    }
  }
}

.ReactModal__Content {
  height: 450px;
  width: 400px;
  margin: auto;
}

.modal-poster {
  display: flex;
  justify-content: center;
  margin: auto;
}

.input-mo {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px 0px 30px;
}

.loading {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.error-msg {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
  span {
    margin-top: 10px;
    color: white;
    font-size: 15px;
  }
}
